* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #d9f0ff;
    font-family: Arial, sans-serif;
}

.button-container {
    display: flex;
    gap: 5px;
}