.main {
    padding-top: 2rem;
    padding-inline: 1rem;
}

.main-title {
    font-weight: 600;
    padding-bottom: .5rem;
}

.main-about-description {
    line-height: 1.5;
    margin-bottom: 1rem;
}

.main-button {
    background-color: #0066ff;
    color: white;
    border: 3px solid #003cb3;
    border-radius: 8px;
    padding: 5px 9px;
}